html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: aliceblue;
}

.header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../headerbackground.webp) center/cover no-repeat;
    pointer-events: none;
  }
}

.navbar {
  background: none !important;
}

.navbar-nav {
  gap: 30px !important;
}

.navbar button:focus {
  outline: none !important;
}

.header {
  .navbar a {
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .router-link:hover {
    text-decoration: none !important;
  }

  .header .router-link {
    color: #fff !important;
  }

  .navbar a:hover {
    transition: all ease-in 0.2s;
    color: #60bc0f !important;
  }
}

.router-link {
  color: #fff;
  p {
    margin-bottom: 0;
  }
}

.give-hand {
  font-size: 50px;
  text-transform: uppercase;
  color: #fdbb00;
}

.better-world {
  color: #ffffff;
  margin-top: 0;
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header {
  .header-title {
    padding-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.99 !important;
  }

  .header-buttons {
    opacity: 0.99;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.header-buttons {
  .see-causes {
    background: #60bc0f;
    padding: 0px 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
    border: 1px solid #60bc0f;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms linear 0s;
  }

  .see-causes:hover {
    transition: all ease-in 0.2s;
    background: transparent;
    color: #60bc0f;
  }

  .find-more {
    background: #fdbb00 !important;
    border: 1px solid #fdbb00 !important;
    color: #000000;
    padding: 0px 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms linear 0s;
  }

  .find-more:hover {
    transition: all ease-in 0.2s;
    background: transparent !important;
  }
}

.our-causes {
  .single-cause-div {
    background: #f9fafc;
    transition: all 300ms linear 0s;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    min-height: 662px;
  }

  .single-cause-div img {
    min-height: 300px;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 35px;
  }

  .single-cause-div .single-cause-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .single-cause-description {
    font-size: 18px;
  }

  .single-cause-div:hover {
    transition: all ease-in 0.2s;
    box-shadow: 0 20px 30px rgba(153, 153, 153, 0.2);
  }
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px !important;
  text-align: center;
  line-height: 1.2;
}

.section-title-about {
  margin-bottom: 40px;
}

.about-us {
  margin-bottom: 80px;
}

.about-us-text {
  box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  text-align: justify;
  background-color: #fff;
}

.about-us-p {
  font-size: 17px;
  color: #777777;
  text-align: justify;
}

.about-us-left img {
  width: 100%;
}

.section-title.finished-projects {
  margin-bottom: 40px;
}

.finished-projects .card-body {
  min-height: 558px;
  background: #fff !important;
}

.finished-projects img {
  width: 100%;
  min-height: 175px;
  transition: all 300ms linear 0s;
  border-radius: 0;
  border-radius: 6px;
}

.finished-projects .project-read-more {
  background-color: #217535;
  color: #fff;
  padding: 8px 6px;
  border-radius: 8px;
  transition: all ease-in 0.1s;
}

.finished-projects .project-read-more:hover {
  background-color: #0d2e14;
  text-decoration: none;
  transition: all ease 0.1s;
}

.finished-projects .card-title a {
  font-size: 20px;
  margin-bottom: 0.75rem;
  color: #222222;
}

.finished-projects {
  .card {
    border: 0;
    transition: all 300ms linear 0s;
    overflow: hidden;
  }

  .card:hover {
    transition: all ease-in 0.2s;
    box-shadow: 0px 12px 40px rgba(153, 153, 153, 0.2);
  }

  .card_inner_body {
    padding: 20px 10px;
  }

  .card-title {
    font-size: 20px;
    margin-bottom: 0.75rem;
    color: #222222;
  }
}

.future-projects {
  margin-top: 40px;
}

.future-projects img {
  width: 100%;
}

.future-projects .row .col-lg-6 {
  margin-bottom: 15px;
}

.future-title {
  margin-bottom: 60px;
}

.future-post-title {
  color: #222222;
  font-size: 20px;
  font-weight: 500;
}

.future-projects .find-more {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ebebeb;
  background: #34ce57;
  padding: 10px 10px;
}

.future-projects .row div:hover {
  transition: all 0.3s ease-in-out;

  .future-post-title {
    color: #34ce57;
    transition: all 0.3s ease-in-out;
  }

  .find-more {
    background: #0b2e13;
    transition: all 0.3s ease-in-out;
  }
}

.team-title {
  margin-top: 40px;
  margin-bottom: 50px;
  padding-top: 40px;
}

.team-area-wrapper {
  background: #f9fafc;
}

.team-area-wrapper .row {
  margin-right: unset;
  margin-left: unset;
}

.team-member-name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  transition: all 300ms linear 0s;
  color: #222222;
}

.team-member-title {
  color: #777777;
  font-size: 15px;
}

.team_name {
  text-align: center;
  padding: 20px;
}

.team_item {
  text-align: center;
  border: 1px solid #ebebeb;
  margin-bottom: 50px;
}

.team_item:hover {
  box-shadow: 0px 20px 30px rgba(153, 153, 153, 0.2);
  transition: all 300ms linear 0s;
}

.team-area .team_item img {
  max-height: 350px;
}

.home-become-volunteer-wrapper {
  background: #60bc0f;
}

.become-volunteer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-become-volunteer-wrapper {
  padding: 30px 120px;

  .volunteer-title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
  }

  .volunteer-text {
    font-size: 18px;
    color: #ffffff;
  }

  .volunteer-join-us {
    background: #fdbb00 !important;
    border: 1px solid #fdbb00 !important;
    color: #000000;
    padding: 0 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms linear 0s;
  }

  .volunteer-join-us:hover {
    transition: all ease-in 0.2s;
    background: transparent !important;
    text-decoration: none;
  }
}

.footer {
  li {
    text-decoration: none;
    list-style-type: none;
  }

  .footer-contact-us img {
    max-width: 25px;
  }

  padding-top: 80px;
  padding-bottom: 30px;
  background: #091b27;
  font-family: "Poppins", sans-serif;

  .footer-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 28px;
  }

  .footer-small-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 28px;
    text-align: center;
  }

  .footer-quick-list {
    list-style-type: none;
    text-decoration: none;

    li {
      margin-bottom: 10px;
      color: #777777;
    }
  }

  .footer-mission-p {
    color: #777777;
  }

  .footer-gallery-list {
    gap: 15px;
  }

  p {
    margin-bottom: 0;
  }

  .footer-address-wrapper {
    align-items: center !important;
    margin-top: 10px;
    gap: 15px;
    color: #777777;
  }

  a {
    color: #777777;
  }
}

.our-causes.container {
  margin-top: 40px;
  margin-bottom: 50px;
}

.about-us-component .about-us {
  margin-top: 40px;
}

.container.join-us-text p {
  font-size: 18px;
}

.footer .footer-mission-p:last-of-type {
  margin-top: 15px;
}

.footer .footer-quick-list .nav-link {
  padding: 0;
}

/* //cookies consent */
.cookie-consent-popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  padding: 20px;
  z-index: 1000;
  display: none; /* Hide by default */
}

.cookie-consent-popup p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.cookie-consent-popup a {
  color: #fff;
  text-decoration: underline;
}

#acceptCookieConsent {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #f1d600;
  border: none;
  cursor: pointer;
}

.joinus-forms-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;

  .join-us-section-title {
    margin-bottom: 20px;
  }
}

.membership-information p {
  font-size: 20px;
  line-height: 1.75;
  font-weight: 300;
}

.donate-component-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  h2 {
    margin-bottom: 15px;
  }
}

.donate-component .header {
  .header-title {
    padding-top: 150px;
  }
  .header-buttons {
    padding-bottom: 50px;
  }
  min-height: unset !important;
}

.project-wrapper .header {
  .header-title {
    padding-top: 150px;
  }
  .header-buttons {
    padding-bottom: 50px;
  }
  min-height: unset !important;
}

.projects-section-wrapper .header {
  .header-title {
    padding-top: 150px;
  }
  .header-buttons {
    padding-bottom: 50px;
  }
  min-height: unset !important;
}

.projects-section-wrapper .container {
  margin-bottom: 40px;
}

.aboutus-layout-wrapper .header {
  .header-title {
    padding-top: 150px;
  }
  .header-buttons {
    padding-bottom: 50px;
  }
  min-height: unset !important;
}

.joinus-layout-wrapper .header {
  .header-title {
    padding-top: 150px;
  }
  .header-buttons {
    padding-bottom: 50px;
  }
  min-height: unset !important;
}

.joinus-layout-wrapper .membership-information .router-link {
  text-decoration: none;
  color: #007bff;
}

.joinus-layout-wrapper .membership-information .router-link:hover {
  text-decoration: underline;
}
/* //team owl carousel */
.row.team-inner {
  .owl-nav {
    display: none;
  }

  .owl-dots button:focus {
    outline: 0 !important;
  }
}

.swiper.swiper-initialized.swiper-horizontal {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* //social media icons */
.footer-social-media {
  margin-top: 20px; /* Adjust as needed */
  text-align: center; /* Or left/right based on your design */
}

.footer-social-media img {
  max-width: 30px;
}

/* projects */
.project-content {
  padding: 20px;
}

.project-content h1 {
  margin-bottom: 30px;
}

.d-flex.align-items-center.footer-address-wrapper {
  margin-left: 20px;
}

/* swiper js */
.swiper-carousel-image {
  height: 200px;
  max-width: 500px;
  width: 100%;
}

.project-video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-video-content p {
  align-self: flex-start;
}

img.card-img-top.img-fluid {
  max-width: 200px;
  min-height: 277px;
}

.contact-form .form-control {
  outline: 0 !important;
  box-shadow: none !important;
}

.contact-form label {
  font-size: 18px !important;
  line-height: 1.75;
  font-weight: 300 !important;
}

/* //Media Queries */
@media screen and (min-width: 768px) {
  .header .navbar ul {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Adjust the number of lines you want to show */
    text-overflow: ellipsis;
    white-space: normal; /* Allow text to wrap */
    max-height: 4.5em; /* Adjust based on line-height and font-size */
  }
  .finished-projects .card-body {
    min-height: unset;
    margin-bottom: 10px;
  }
  .our-causes .single-cause-div {
    min-height: 600px;
    padding: 20px;
  }
  .single-cause-title {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 1150px) {
  .footer {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1040px) {
  .footer-email-wrapper p {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 991px) {
  .header .navbar .nav-item {
    display: flex;
    align-items: center;
  }
  .header .navbar-nav {
    gap: unset !important;
  }
  .footer {
    padding-bottom: 30px;
  }
  .home-become-volunteer-wrapper {
    padding: unset;
  }
  .home-become-volunteer-wrapper .volunteer-join-us {
    margin-bottom: 20px;
  }
  .about-us.container .about-us-text {
    margin-top: 15px;
    max-width: 690px;
  }
  .about-us.container .row {
    align-items: center;
    justify-content: center;
  }
  .finished-projects .row .col-lg-4 {
    margin-top: 20px;
  }
  .finished-projects .see-more-posts {
    margin-top: 10px;
  }
  .future-projects .row .col-lg-6 {
    margin-top: 15px;
    padding-bottom: 20px;
  }
  .big-footer .footer-quick-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .big-footer .footer-contact-us,
  .footer-social-media-col {
    margin-top: 20px;
  }
  .footer .footer-address-wrapper {
    justify-content: center;
  }
  .our-causes .single-cause-div {
    padding: 20px;
  }
  .our-causes .single-cause-div {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header .navbar .navbar-toggler {
    margin-top: 20px;
  }
  .header .navbar .nav-item a {
    margin-top: 0;
  }
  .our-causes .single-cause-div img {
    min-height: unset;
  }
  .our-causes .single-cause-div {
    min-height: unset;
  }
  .footer .footer-title {
    margin-bottom: 10px !important;
  }
  .footer .footer-contact-us {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .footer .footer-contact-us p {
    margin-bottom: 0;
  }
  .footer .footer-social-media-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer-social-media-col p {
    margin-bottom: 0;
  }
  .welcome-wrapper .header {
    min-height: unset !important;

    .header-title {
      padding-top: 150px;
    }
    .header-buttons {
      padding-bottom: 50px;
    }
    min-height: unset !important;
  }
  .our-causes .row .col-lg-6 {
    margin-bottom: 20px;
  }
  .lavinia-clip {
    height: 300px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 697px) {
  .give-hand,
  .better-world {
    font-size: 32px;
    margin-bottom: 0;
  }
  .section-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  .big-footer .footer-quick-links {
    margin-top: 20px;
    align-items: flex-start;

    ul {
      padding-left: 0;
    }

    .footer-small-title {
      margin-bottom: 10px;
    }
  }
  .footer .footer-gallery-list {
    padding-left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .overall-wrapper .about-us {
    margin-bottom: 50px;
  }
  .overall-wrapper .finished-projects .section-title {
    margin-bottom: 0 !important;
  }
  .overall-wrapper .future-projects .section-title {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .header .header-buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    a {
      width: 100% !important;
    }
  }
  .about-us-text {
    padding: 0 30px;
  }
  .section-title-about {
    padding-top: 30px;
  }
}

@media screen and (max-width: 450px) {
  .give-hand,
  .better-world {
    font-size: 26px;
  }
  .section-title {
    font-size: 22px;
  }
  .footer .footer-title {
    margin-bottom: 10px !important;
  }
  .footer .footer-contact-us {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .footer .footer-contact-us p {
    margin-bottom: 0;
  }
  .footer .footer-social-media-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-quick-links {
    align-items: center;
  }
  .footer .footer-social-media-col p {
    margin-bottom: 0;
  }
  .d-flex.align-items-center.footer-address-wrapper {
    margin-left: unset !important;
  }
}

@media screen and (max-width: 380px) {
  .give-hand,
  .better-world {
    font-size: 24px;
  }
  .section-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  .team-area .team_item img {
    max-height: unset;
  }
  .our-causes.container,
  .about-us.container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 330px) {
  .give-hand,
  .better-world {
    font-size: 22px;
  }
  .section-title {
    font-size: 24px;
  }
}
